@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }

  .windows-xp__window {
    box-shadow: inset -1px -1px #00138c, inset 1px 1px #0831d9,
      inset -2px -2px #001ea0, inset 2px 2px #166aee, inset -3px -3px #003bda,
      inset 3px 3px #0855dd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 0 0 3px;
    -webkit-font-smoothing: antialiased;
  }

  .windows-xp__title-bar {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
      "Lucida Sans", Tahoma, sans-serif;
    background: linear-gradient(
      180deg,
      #0997ff,
      #0053ee 8%,
      #0050ee 40%,
      #06f 88%,
      #06f 93%,
      #005bff 95%,
      #003dd7 96%,
      #003dd7
    );
    @apply pt-1 pr-2 pb-1 pl-1 text-sm h-[1.7rem];
    border-top: 1px solid #0831d9;
    border-left: 1px solid #0831d9;
    border-right: 1px solid #001ea0;
    border-top-left-radius: 8px;
    border-top-right-radius: 7px;
    text-shadow: 1px 1px #0f1089;
  }

  .windows-xp__title-bar-text {
    padding-left: 3px;
    @apply font-bold text-white tracking-normal mr-6;
  }

  .windows-xp__window-body {
    font-family: "Calibri", sans-serif;
    background-color: rgb(236, 233, 216);
  }

  .windows-xp__bg {
    background-image: url("https://i.imgur.com/s6BvTke.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .windows-xp__btn-wrap {
    border: 1px solid rgb(1, 63, 102);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f6f6f6;
    background: -moz-linear-gradient(
      top,
      #f6f6f6 0%,
      #ffffff 6%,
      #fffdfe 12%,
      #fbf9fa 18%,
      #f8f7f5 41%,
      #f7f3f0 47%,
      #f8f3ef 82%,
      #e7e0d8 94%,
      #dad3c9 100%
    );
    background: -webkit-linear-gradient(
      top,
      #f6f6f6 0%,
      #ffffff 6%,
      #fffdfe 12%,
      #fbf9fa 18%,
      #f8f7f5 41%,
      #f7f3f0 47%,
      #f8f3ef 82%,
      #e7e0d8 94%,
      #dad3c9 100%
    );
    background: linear-gradient(
      to bottom,
      #f6f6f6 0%,
      #ffffff 6%,
      #fffdfe 12%,
      #fbf9fa 18%,
      #f8f7f5 41%,
      #f7f3f0 47%,
      #f8f3ef 82%,
      #e7e0d8 94%,
      #dad3c9 100%
    );

  }

  .windows-xp__btn {
    padding: 0 0.5rem 0 0.5rem;
    border: 2px solid transparent;
    background: transparent;
  }

  .windows-xp__btn:hover {
    outline: 0;
    border: 2px solid #b9d0f0;
  }

  .windows-xp__btn:active {
    background: #dad3c9;
    background: -moz-linear-gradient(
      top,
      #dad3c9 0%,
      #e7e0d8 6%,
      #f8f3ef 18%,
      #f7f3f0 53%,
      #f8f7f5 59%,
      #fbf9fa 82%,
      #fffdfe 88%,
      #ffffff 94%,
      #f6f6f6 100%
    );
    background: -webkit-linear-gradient(
      top,
      #dad3c9 0%,
      #e7e0d8 6%,
      #f8f3ef 18%,
      #f7f3f0 53%,
      #f8f7f5 59%,
      #fbf9fa 82%,
      #fffdfe 88%,
      #ffffff 94%,
      #f6f6f6 100%
    );
    background: linear-gradient(
      to bottom,
      #dad3c9 0%,
      #e7e0d8 6%,
      #f8f3ef 18%,
      #f7f3f0 53%,
      #f8f7f5 59%,
      #fbf9fa 82%,
      #fffdfe 88%,
      #ffffff 94%,
      #f6f6f6 100%
    );
  }

  input[type=range]::-webkit-slider-thumb {
    border: 1.5px solid rgb(1, 63, 102);
    height: 1rem;
    width: 0.5rem;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
  }
}
